.ol-popup {
	position: absolute;
	background-color: white;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
	filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #cccccc;
	bottom: 12px;
	left: -50px;
	min-width: 280px;
}

.ol-popup .arrow {
	background: #fff;
	width: 8.48528137px;
	height: 8.48528137px;
	transform: rotate(45deg);
	position: absolute;
	display: block;
	border-color: transparent;
	border-style: solid;
	bottom: -4px;
	left: 44px;
}
.popup-row {
	width: 100%;
}

.popup-row-key {
	width: 30%;
	float: left;
}

.popup-row-value {
	width: 70%;
	float: right;
}
.popup-row-value > p {
	text-overflow: ellipsis;
}

.popup-ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.popup-ul li {
	width: 100%;
	
}
